@import "src/styles/constants";

.portal-header {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	margin-bottom: 32px;

	.container {
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		&__icon {
			font-size: 56px;
			margin-right: 16px;
		}
		&__name {
			font-size: 56px;
			line-height: 56px;
			font-family: 'Oleo Script Swash Caps', cursive;
		}
	}

	&__tabs {
		height: inherit;
		button {
			height: inherit;
			width: 100px;
			&.active {
				border-bottom: 1px solid $aquaDeep;
			}
			&:focus {
				background-color: transparent;
			}
			&:active {
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
	}

	&__navs {
		display: flex;
		align-items: center;

		.dropdown-default {
			margin-left: 16px;
		}
	}
}
