.portal-header {
	.container {
		height: 98px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {

	}
	&__navs {
		display: flex;
		align-items: center;

		.dropdown-default {
			margin-left: 16px;
		}
	}
}
