.header {
  padding: 0 32px;
  height: 88px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    padding: 4px 16px;
    height: 64px;
    display: flex;
    align-items: center;
    background-color: #1640D4;
    border-radius: 8px;

    font-size: 40px;
    color: #fff !important;
    font-family: 'Rancho', cursive;
    
    svg {
      margin-right: 16px;
      display: block;
      height: inherit;
      width: 64px;
      fill: #fff;
    }
  }
}