.container-center-with-logo{
  .ant-image{
    position: absolute;
    top: 20px;
    left:20px;
    width: 200px;
  }
  .forms-sign-in.ant-form{
    padding-bottom: 0;
  }
  .children-row{
    min-height: 100vh;
  }
}

