//colors

$primary: #1890ff;
$cyprus: #096dd9;
$jungle: #40a9ff;
$aquaDeep: mix(#096dd9, rgba(0, 0, 0, 0.1));

$error: #c44d56;
$errorSurface: #f8eae7;
$success: #218549;
$successSurface: #46AE13;
$warning: #ff9a19;
$warningSurface: #EEA200;

$elephant: #13405e;
$white: #ffffff;
$gullGray: #9ea8b7;
$aquaHaze: #f4f7f8;
$mineShaft: #222222;
$mineShaft: #222222;
$mercury: #e5e5e5;
$emerald: #40a9ff;
$bayOfMany: #215273;
$keppel: #359d9e;
$link: #0077D5;
$black: #000000;

$cadetBlue: #A8B1BF;


$magicMint: #40a9ff;

$magicMint: #40a9ff;
$greenLabels: mix(#096dd9, rgba(0, 0, 0, 0.1));

//backgrounds

$modal: rgba(0, 0, 0, 0.1);

//shadows

$subMenu: 0px 4px 4px rgba(0, 0, 0, 0.25);

// border-radius

$borderRadius4: 4px;

//others
$heightTablePagHead: 111px;
