//colors

$primary: #007D51;
$cyprus: #00393b;
$jungle:#2BB174;
$aquaDeep: #014945;

$error: #D61B74;
$errorSurface: #f8eae7;
$success: #218549;
$successSurface: #46AE13;
$warning: #ff9a19;
$warningSurface: #EEA200;

$elephant: #13405e;
$white: #ffffff;
$gullGray: #9ea8b7;
$aquaHaze: #f4f7f8;
$mineShaft: #222222;
$mineShaft: #222222;
$mercury: #e5e5e5;
$emerald: #55c595;
$bayOfMany: #215273;
$keppel: #359d9e;
$link: #0077D5;
$black: #000000;

$cadetBlue: #A8B1BF;


$magicMint: #92f2b3;

$magicMint: #92F2B3;
$greenLabels: #014945;

//backgrounds

$modal: rgba(0, 0, 0, 0.1);

//shadows

$subMenu: 0px 4px 4px rgba(0, 0, 0, 0.25);

// border-radius

$borderRadius4: 4px;

//gradients

$gradientPortalBar: linear-gradient(180deg, #005A4B 0%, #2BB174 100%);;

//others
$heightTablePagHead: 111px;
