.page-search {
	.card-place {
		padding: 0;
		margin-bottom: 16px;
		height: 250px;
		display: flex;
		transition: .3s;

		&:hover {
			z-index: 1;
			transform: scale(1.05);
		}

		&__image {
			border-top-left-radius: inherit;
			border-bottom-left-radius: inherit;
			height: 100%;
			width: 250px;
			object-fit: cover;
		}

		&__info {
			padding: 16px 16px 16px 32px;
			flex: 1;
			display: flex;
			flex-direction: column;

			.info-item {
				margin-bottom: 8px;
			}
		}
	}

	&__form {
		margin-bottom: 32px;
		.ant-form-item {
			margin-bottom: 16px;
		}
		.form-footer {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			margin-top: 8px;
		}
	}

	.empty-search {
		height: 480px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		img {
			margin-bottom: 16px;
		}
	}
}
