.card-place {
	margin-bottom: 16px;
	height: 250px;
	display: flex;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	transition: .3s;

	&:hover {
		z-index: 1;
		transform: scale(1.05);
	}

	&__image {
		border-top-left-radius: inherit;
		border-bottom-left-radius: inherit;
		height: 100%;
		width: 250px;
		margin-right: 32px;
		object-fit: cover;
	}

	&__info {
		flex: 1;
	}
}
