.page-add-post {
	.card-add-post {
		margin: 0 auto;
		width: 600px;

		.ant-form-item {
			margin-bottom: 16px;
			flex-direction: column;

			&-label {
				text-align: start;
				label {
					height: 32px;
				}
			}
			&-explain-connected {
				min-height: 0;
				position: relative;
			}
			&-explain-error {
				position: absolute;
			}
		}

		.form-footer {
			margin-top: 24px;
			width: 100%;
			display: flex;
			justify-content: end;
		}
	}
}
